# Exclude unnecessary files and directories from the Docker image

# Private documents
private_doc/

# Documentation files
docs/

# Tests
tests/

# Python virtual environment
.venv/

# Poetry environment
virtualenvs/

# pycache
__pycache__/

# VS Code files
.vscode/

# IntelliJ IDEA files
.idea/

# Editor backups
*~
.*

# Docker related files
.dockerignore
